* {
  font-family: "RobotoBlack";
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg.jpg);
  overflow-x: hidden;
}
h1, h4 {
  text-transform: uppercase;
  text-align: center;
}
p {
  text-align: center;
}

ul li {
  list-style: none;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
