$background: #EAE8E7;
$greyregular: #DEE1E1;
$greytext: #767270;
$blue: #5DA4D9;
$darkblue: #07BCD4;
$black: #131316;
$blacklink: #444444;
$dark: #1C1D1E;
$facebook: #36609E;
$twitter: #2CA9E1;
$google: #DB5442;
$dribbble: #EE558E;
